body{
	background: rgb(170,170,170);
	background: linear-gradient(0deg, rgba(170,170,170,0.48503151260504207) 0%, 
	rgba(255,255,255,0.05646008403361347) 60%);

}
.img img{
	height:300px;
    border-radius: 50%;
    border: 1px solid black;
    -webkit-box-shadow: 2px 4px 20px 1px rgba(0,0,0,0.66); 
	box-shadow: 2px 4px 20px 1px rgba(0,0,0,0.66);
	margin-left: auto;
    margin-right: auto;
    display: block;

}




header{
	padding: 10px;
	height: 70px;

}


h1{

	font-size: 45px;
	text-align: center;
	justify-content: center;
	margin: 5px;
}

.contenido{
	width: 75%;
	display: block;
   text-align: center;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

.contenido .email{
	font-style: italic;
}

.contenido a{
	text-decoration: none;
}

footer{
	text-align: center;
	border-top: solid 1px;
}
footer p{
	font-size: 16px;
}




